/* animation for H2*/
h2{
  animation: slideleft 4s linear forwards;
}
@keyframes slideleft{
  0%{
    transform: translate(100px);
    opacity: 0;
  }
  100%{
    transform: translate(0px);
    opacity: 1;
  }

}


/* description about we are here */
.about_text{
  margin-top: 30px;
    font-size: 7mm;
    font-weight: 3rem;
    color: black;
    word-break: break-word;
    box-sizing: border-box;
    width: 100%;
}
.about_list{
  padding: 10px;
  box-sizing: border-box;
}
/*animation for text*/
.about_text{
  animation: slideleft 4s linear forwards;
}
@keyframes slideleft{
  0%{
    transform: translate(100px);
    opacity: 0;
  }
  100%{
    transform: translate(0px);
    opacity: 1;
  }

}
@media (max-width: 641px) {
 .about_list{
  width: inherit;

 
}
  }