.clockin {
    padding-top: 8rem;
    text-align: center;
}

.clockin-header, .clockin-headerTwo {
    font-size: 3rem;
}

.clockin-headerTwo {
    padding-top: 2rem;
}

.clockin-button { 
    margin-top: 2rem;
    padding: 1rem 3rem;
    font-size: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.clockin-picture {
    padding-top: 2rem;
    width: 10rem;
    height: auto;
    cursor: pointer;
}

th, td{

    padding: 5px;
    align-items: center;
    text-align: center;
}
th{
    border-bottom: 1px solid;
}

    tr:nth-child(even) {
        background-color:rgb(236, 233, 233);
    }

.search-classes-form{
    display: inline-flex;
    gap: 10px;
    margin-bottom: 20px;
}
.volunteer-clockin-table-wrapper{
    width:calc(100vw - 200px);
   
    overflow: auto;
}

.volunteer-clockin-table{
   
    min-width: 1000px;
  
}