/* Simple CSS for the landing page */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root * {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;

  --cyf-red: hsl(0, 83%, 60%);
  --cyf-hover-red: hsl(0, 87%, 45%);
  font-family: "Raleway", sans-serif;

  /* font-size */
  --normal-font-size: calc(var(--large-font-size) / 2);
  --large-font-size: 32px;
  --larger-font-size: calc(var(--large-font-size) * 1.5);

  /* spacing */
  --normal-gap: 12px;
  --large-gap: calc(var(--normal-gap) * 2);
  --larger-gap: calc(var(--normal-gap) * 3);
}

ul {
  list-style: none;
}

/* ----- WHOLE PAGE STYLE THINGS ----- */

.cyf-red-color {
  color: var(--cyf-red);
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.underline {
  text-decoration: underline;
}

.underline-color-black {
  text-decoration-color: black;
}

.underline-color-red {
  text-decoration-color: var(--cyf-red);
}

.normal-text {
  font-size: var(--normal-font-size);
}

/* ----- SPECIFIC THINGS ----- */

/* h1 */
.main-heading {
  font-size: var(--larger-font-size);
  margin-bottom: var(--larger-gap);
  color: var(--cyf-red);
}

/* ----- :ROOT : ENSURE OUR CONTENT TAKES THE WHOLE SCREEN ----- */
#root {
  width: 100vw;
  height: 100vh;
}


/* whole page things */
.landing-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* ----- CARD ----- */
.card {
  height: 350px;
  width: 300px;
  padding: var(--normal-gap);
}

.card-list > li {
  margin: var(--large-gap) 0;
}

.card-heading {
  font-size: var(--large-font-size);
}

.card-button {
  padding: var(--normal-gap) var(--larger-gap);
  background-color: var(--cyf-red);
  color: white;
  cursor: pointer;
  font-size: var(--normal-font-size);
}

.card-button:hover {
  background-color: var(--cyf-hover-red);
}

/* ----- BUTTON BELOW THE CARD ----- */

.about-header {
  margin-top: var(--larger-gap);
}


/* ----- BREAKPOINTS ----- */

/* 800px */
@media only screen and (min-width: 800px) {

  :root * {
      /* font-size */
  --normal-font-size: calc(var(--large-font-size) / 2);
  --large-font-size: 40px;
  --larger-font-size: calc(var(--large-font-size) * 1.5);

  /* spacing */
  --normal-gap: 15px;
  --large-gap: calc(var(--normal-gap) * 2);
  --larger-gap: calc(var(--normal-gap) * 3);
  }

  .main-heading {
    margin-bottom: var(--large-font-size);
    font-size: var(--larger-font-size);
  }

  /* ----- CARD ----- */

  .card {
    width: 500px;
    height: 500px;  
  }

  .card-list > li {
    margin: var(--larger-font-size) 0;
  }

  .card-heading {
    font-size: var(--large-font-size);
  }

  .card-button {
    padding: var(--normal-gap) var(--larger-gap);
    font-size: var(--normal-font-size);
  }
}