 /* .logout-button{
    font-size: larger;
    position: absolute;
    width: 8rem;
    height: 9rem;
    top: -10rem;
    right: 1rem;
    display: flex;

    /* to center the text */
    /*justify-content: center;
    align-items: center;
 } */
  /* .logout-button{
   font-size: larger;
    position: absolute;
    width: 8rem;
    height: 12rem;
    top: -4rem;
    right: 1rem;
    display: flex;

   
    justify-content: center;
    align-items: center;
 } */
