 .logout-button{
    position: absolute;
    width: 8rem;
    height: 12rem;
    top: -4rem;
    right: 1rem;
    display: flex;

    /* to center the text */
    justify-content: center;
    align-items: center;
 }