.middle__section{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about__text{
margin-top: 5rem;
}  

.form__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.7rem;
}


/* body{
   background-image: url('https://thumbs.dreamstime.com/b/binary-splash-screen-3164079.jpg');
  backdrop-filter: blur(2px);
  background-repeat: no-repeat;

background-size: cover;
background-repeat: no-repeat;
height: 100vh;
} */

.signup_form{
  margin: 0 auto;
}



/* show and hide password*/
.show-password{
  cursor: pointer;
  position: relative;
  left:4.5rem;
  bottom: 3rem;
  font-size: 3mm;
  color: rgb(119, 117, 117);
}


/*errors for empty inputs*/
.form__error{
    color:red;
}

.signup_form{
    position:right;
    text-align: center;
}
.form-inner{
   margin: 0 auto;
    width: fit-content;
    background: silver;
    border-radius: 1rem;
    padding:1rem 3rem;
}
.form-group{
  display:flex;
  flex-direction: column;
  gap: 0.2rem;
}

label, input{
 width: max-content;
}

.roles{
  display:flex;
  gap: 1rem;
}

.btn{
  background-color: red;
  color: white;
  cursor: pointer;
  margin-left: auto;
}
