
body{
  background-image: url('https://thumbs.dreamstime.com/b/binary-splash-screen-3164079.jpg');
  backdrop-filter: blur(2px);
  background-repeat: no-repeat;
  background-size: 100%; 
  width: 100%;
  
}


  /* logo */
.logo-header {
  position: absolute;
  left: 8px;
  top: 5px;
}


/* show and hide password*/
.show-password{
  cursor: pointer;
  position: relative;
  left:110px;
  bottom: 25px;
  font-size: 11px;
  color: rgb(119, 117, 117);
}

/* heading of we are here */
h2{
    margin-top: 2rem;
    margin-left: 2rem;
    font-weight:600;
    font-size:5rem;
    color: black;  
}

/* animation for H2*/
h2{
  animation: slideleft 4s linear forwards;
}
@keyframes slideleft{
  0%{
    transform: translate(100px);
    opacity: 0;
  }
  100%{
    transform: translate(0px);
    opacity: 1;
  }

}


/* description about we are here */
.about_text{
  margin-left: 2rem;
    font-size: 7mm;
    font-weight: 3rem;
    color: black;

}

/* animation for text*/
.about_text{
  animation: slideleft 4s linear forwards;
}
@keyframes slideleft{
  0%{
    transform: translate(100px);
    opacity: 0;
  }
  100%{
    transform: translate(0px);
    opacity: 1;
  }

}

/* sign in or create an account "text" */
#new-user-heading{
  font-size: 6mm;
  font-weight: 3rem;
  color: black;
  position: relative;
  top: 5rem;
  left: 60%;
}

/*errors for empty inputs*/
.form__error{
    color:red;
}

.signup_form{
    position:relative;
    text-align: center;
}
.form-inner{
    position: relative;
    top: 4rem;
    left:60%;
    width: fit-content;
    background: silver;
    border-radius: 1rem;
    padding:1rem 3rem;
}
.form-group{
  display:flex;
  flex-direction: column;
  gap: 0.2rem;
}

label, input{
 width: max-content;
}

.roles{
  display:flex;
  gap: 1rem;
}

.btn{
  background-color: red;
  color: white;
  cursor: pointer;
  margin-left: auto;
}
